.piece {
    margin-top: 2rem;
}

.piece__preview {
    border-bottom: rem(2px) solid color("secondary", "border");
    border-top: rem(2px) solid color("secondary", "border");
    padding-block: 1.5rem;

    @include m1() {
        padding-block: 2.5rem;
    }
}

.piece__title {
    margin-bottom: rem(28px);
    @include h2();
}

.piece__description {
    max-width: rem(800px);
    @include p();
}

.piece__grid {
    display: grid;
    margin-top: 1.5rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(rem(150px), 1fr));

    @include m1() {
        margin-top: 2.5rem;
        gap: 1.5rem;
    }
}

.piece__item {
    aspect-ratio: 1/1;
    cursor: pointer;
    border: 5px solid #fff;
    box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / 0.2);

    transition: scale 500ms;

    > img {
        @include image();
    }
}

.piece__item:hover {
    scale: 1.2;
    z-index: 2;
}

.piece__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    transition: opacity 0.3s ease;

    img {
        max-height: 80%;
        max-width: calc(100vw - 64px);
    }

    @include m1() {
        gap: 0.5rem;
    }
}

.piece__btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    flex-shrink: 0;

    svg {
        width: 2rem;
        height: 3rem;
        fill: #fff;

        @include m1() {
            width: 4rem;
            height: 6rem;
        }
    }
}
