html,
body {
    overflow-x: hidden;
    overflow-x: clip;
    scroll-behavior: smooth;
}

body {
    font-family: "BodyRegular";
    min-height: 100vh;
    color: var(--font);
    background-color: var(--body-bg);
}

.wrapper {
    max-width: $wr-width;
    margin-inline: auto;
    padding-inline: 2rem;

    @include m1() {
        padding-inline: 2.5rem;
    }
    @include m2() {
        padding-inline: 0;
    }
}

section {
    margin-bottom: rem(75px);

    @include m1() {
        margin-bottom: rem(90px);
    }

    @include m2() {
        margin-bottom: rem(150px);
    }
}
